* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
}

.App {
    max-width: 400px; /* Adjust this value for iPhone 14 screen size */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#461959, #CD6688);
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.current-weather {
    margin-bottom: 40px;
}

.current-weather h2 {
    margin-top: 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
}

    .search-container input[type="text"] {
        padding: 8px;
        border: none;
        border-radius: 4px 0 0 4px;
        width: 100%;
    }

    .search-container button {
        padding: 8px 12px;
        background-color: #ff6200;
        color: #fff;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

main {
    text-align: center;
}


footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

footer p {
    font-size: 12px;
}

.forecast {
    margin-bottom: 40px;
}


.forecast-item .weather-icon {
    font-size: 32px;
    margin-bottom: 5px;
}

    /* Weather Icon Colors based on conditions */
    .forecast-item .weather-icon.cloudy {
        color: #bbb;
    }

    .forecast-item .weather-icon.sunny {
        color: #ffcc00;
    }

    .forecast-item .weather-icon.rainy {
        color: #007bff;
    }

    .forecast-item .weather-icon.cloud-sun {
        color: #ffaa00;
    }

    .forecast-item .weather-icon.windy {
        color: #888;
    }
